.insta-modal-wrap {
    height: 100vh;
    width: 100vw;
    background-color: #000000b0;
    position: absolute;

    display: flex;
    align-items: center;
    justify-content: center;

    .insta-modal {
        //height: 580px;
        width: 380px;
        background-color: #f0f8ff;
        border-radius: 10px;
        padding: 10px;

        $h : 76px;

        .modal-header {
            height: $h;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .title-wrap {
                display: flex;
                align-items: center;
                justify-content: space-between;

                img {
                    height: 50px;
                    width: 50px;
                    object-fit: cover;
                    border-radius: 50%;
                }

                span {
                    margin-left: 8px;
                }
            }

            .btn-close {
                height: 40px;
                width: 40px;
                border-radius: 50%;
                background-color: #f0f8ff;
                border: none;

                svg {
                    height: 100%;
                    width: 100%;
                }
            }
        }

        .modal-main {
            height: calc($h * 5);
            background-color: #13e2e2;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }

        }

        .modal-footer {
            height: calc($h * 2);
            background-color: #d0ff00;
        }

    }
}